@charset "utf-8";
/* CSS Document */

body {
	background:#fff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

.campoObrigatorio {color: #FF0000}

A.MenuLink {
	display: block;
	width: 100%;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	color: #ffffff;
}


TD.MenuTitulo {
	display: block;
	width: 100%;
	height:22px;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	color: #FFFFFF;
	border: none;
	border: solid 1px #3b7752;
	background-color: #3b7752;
}


A.MenuLink2 {
	display: block;
	width: 100%;
	height:20px;
	text-align: left;
	text-decoration: none;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border: none;
	border: solid 1px #a5d3a5;
	background-color: #a5d3a5;
}

.TituloSistema {
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px; 
	color: #629274;
	font-weight: bold;
}

.TituloSecao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform:uppercase;
	color: #629274;
	font-weight: bold;
}

.TextoRodape {
	font-family: Tahoma, Verdana, Arial;
	font-weight: normal;
	font-size: 12px;
	color: #5A5A5A;
}

.SelectGrande {
	font-size: 11px;
	width:476px;
	height:22px;
}
/* Tabelas de Consultas */
fieldset {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #a8a8a8;
}

fieldset legend {
  padding: 0 5px;
  font-size: 11px;
  font-weight: bold;
  color: #5A5A5A;
}

table.paginador
{
	border: 1px solid #a8a8a8;
	width: 100%;
    height: 100%;
}

TABLE.paginador tr.inicial {
	background-color: #FFFFFF;
}

TABLE.paginador tr.selecionada {
	background-color: #C0C0C0;
}

td.header
{
	font-weight:bold;
	border: 1px solid #a8a8a8;
	background-color:#a5d3a5;
}

td.total
{
	font-weight:bold;
	border: 0px;
	background-color:#f5f5f3;
}
td.negrito
{
	background-color:#f5f5f3;
	height:12px;
	font-weight:bold;
}

td.resultado
{
	border: 1px solid #a8a8a8;
	background-color:#FFFFFF;
}

td.body
{
	border: 1px solid #a8a8a8;
}

A.TabelaLink {
	display: block;
	width: 100%;
	text-decoration: none;
	font-size: 11px;
	color: #000000;
	border: none;
}

/* fim Tabelas de consultas */

/* Componentes Input */


INPUT.Botao {
	color: #000000;  
	font-size:10px; 
	font-family:verdana; 
	text-transform:uppercase;
	text-decoration: none;
	border:1px outset #a1a1a1;   
	background-color: #f7f7f7;
   	border-style: 1px solid #838282;
	display: inline;
   	height: 20px;
   	width: 70px;
	margin: 1px;
	cursor:hand
}

INPUT.BotaoMaior {
	color: #000000;  
	font-size:10px; 
	font-family:verdana; 
	text-decoration: none;
	text-transform:uppercase;
	border:1px outset #a1a1a1;   
	background-color: #f7f7f7;
   	border-style: 1px solid #838282;
	display: inline;
   	height: 20px;
   	width: 110px;
	margin: 1px;
	cursor:hand
}

INPUT.PaginacaoUltima {
	background-image: url('../images/ico_final.gif');
	background-color: #ffffff;
	text-decoration: none;
	border:0px;
   	height: 18px;
   	width: 15px;
	margin: 0px;
	cursor: hand;
}
INPUT.PaginacaoPrimeira {
	background-image: url('../images/ico_inicio.gif');
	background-color: #ffffff;
	text-decoration: none;
	border:0px;
   	height: 18px;
   	width: 15px;
	margin: 0px;
	cursor: hand;
}
INPUT.PaginacaoPosterior {
	background-image: url('../images/ico_posterior.gif');
	background-color: #ffffff;
	text-decoration: none;
	border:0px;
   	height: 18px;
   	width: 15px;
	margin: 0px;
	cursor: hand;
}
INPUT.PaginacaoAnterior { 
	background-image: url('../images/ico_anterior.gif');
	background-color: #ffffff;
	text-decoration: none;
	border:0px;
   	height: 18px;
   	width: 15px;
	margin: 0px;
	cursor: hand;
}


SELECT {

	font-size: 11px;
	width:250px;
	height:22px;
	/*border-right: #838282 1px;
	border-top: #838282 1px;
	border-left: #838282 1px;
	border-bottom: #838282 1px*/
}

OPTION {
	border-right: #838282 1px;
	border-top: #838282 1px;
	font-size: 11px;
	border-left: #838282 1px;
	border-bottom: #838282 1px
}

TEXTAREA {
	border-right: #838282 1px solid;
	border-top: #838282 1px solid;
	border-left: #838282 1px solid;
	border-bottom: #838282 1px solid
}

TABLE {
	FONT-SIZE: 11px;
	COLOR: #000000;
}

tr{
FONT-SIZE: 11px;
	COLOR: #000000;
}

td{
FONT-SIZE: 11px;
	COLOR: #000000;
}

/* fim componentes input */

/* caixas de mensagem */
div.MensagemErro {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #AB3838;
	vertical-align: middle;
	padding: 5px;
	margin-left: 5px;
	background-color: #FFDBDB;
	border: 2px solid #EB7878;
}

div.MensagemSucesso {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #144888;
	vertical-align: middle;
	padding: 5px;
	margin-left: 5px;
	background-color: #D8E5ED;
	border: 2px solid #698AB3;
}

/* fim caixas de mensagens*/

	

TD.SombraHorizontal {
	background-color: #838282;
	height: 1px;
}

TD.SombraVertical {
	background-color: #838282;
	width: 1px;
}

TD.FundoCorpo {
	background-color: #FFFFFF;
}

TD.LinhaCabecalhoClara {
	background-color: #b0d8b0;
	height: 1px;
}

TD.LinhaCabecalhoEscura {
	background-color: #3b7752;
	height: 7px;
}

TR.FundoBranco {
	background-color: #FFFFFF;
}


.TextoLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5e5c5b;
	font-weight: bold;
}




.SubTituloSistema {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px; 
	color: #39754E;
}



HR.fdu {
	width: 620px;
	size: 1px;
	color: #808080;
	border: dashed #808080;
	noshade;
	height: 1px;
}


.ReadOnly{
	background-color: #CACACA;
	font-weight: bold;
}


.TextoDestaque {
	color: #5E5C5B;
	font-weight: bold;
	font-size: 12px;
}
.TextoComum {
	color: #5E5C5B;
	font-weight: none;
	font-size: 10px;
}
.TextoDestaquePequeno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5E5C5B;
	font-weight: bold;
	font-size: 10px;
}
.TextoComumPequeno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5E5C5B;
	font-weight: none;
	font-size: 9px;
}

.NoBorder {
	border:none;
}



/*
================================================================================
DIVERSOS
================================================================================
*/


tr.inicial {
	background-color: #FFFFFF;
	text-align: left;
	FONT-SIZE: 11px;
	padding-left: 7px;
}

tr.selecionada {
	background-color: #EEEEEE;
	text-align: left;
	FONT-SIZE: 11px;
	padding-left: 7px;
	/*font-weight: bold;*/
}



table.gridPopup{
	border: 1px solid #a8a8a8;
	background-color: #F3F3F3;

}

/*------*/




.NoBorder {
	border:none;
}

/*######################################################################################################################*/
/* MOBILE */

.TituloSistemaMobile {
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-size: 52px; 
	color: #629274;
	font-weight: bold;
}

.TituloSecaoMobile {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 32px;
	text-transform:uppercase;
	color: #629274;
	font-weight: bold;
}
.TextoRodapeMobile {
	font-family: Tahoma, Verdana, Arial;
	font-weight: normal;
	font-size: 22px;
	color: #5A5A5A;
}
table.tabelaMobile
{
	border: 1px solid #a8a8a8;
	width: 100%;
    	height: 100%;
}

table.tabelaMobile td
{
    	font-size: 38px;
}
INPUT.BotaoMaiorMobile {
	color: #000000;  
	font-size:28px; 
	font-family:verdana; 
	text-decoration: none;
	text-transform:uppercase;
	border:1px outset #a1a1a1;   
	background-color: #f7f7f7;
   	border-style: 1px solid #838282;
	display: inline;
   	height: 70px;
   	width: 480px;
	margin: 1px;
	cursor:hand
}